.footer{  
    background-color: black;
    &_nav{  
        &--ul{

            justify-content: center;
            list-style: none;
            display: flex;
            list-style: none;
            gap: 15px;
            
            
            
            li{
               
                a{

                    color: blanchedalmond;
                    text-decoration:none ;
                    font-size: 1.2rem;
                    &:hover{
                        color:#a09c9a;
                            }
                   
                }
            }      

    }
    }
}